@import "variable_mixin.scss";

body, div#app{
    @include reset;
    width: 100%;
    div#wrapper{
        @include reset;
        width: 100%;
        display: grid;
        grid-gap: 0;
        grid-template-columns: 25% 75%;
        grid-auto-rows: auto minmax(50vh,auto) auto;
        grid-template-areas:
        "header main"
        "navigation main"
        "footer footer";
        main{
            @include reset;
            background-image: url("images/background720.jpg");
            background-origin: padding-box;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            grid-area: main;
            padding: 1%;
            background-color: rgb(255, 255, 255);
        }
    }
    
}