@import "variable_mixin.scss";

body, div#app{
    @include reset;    
    div#wrapper{
        @include reset;
        display: grid;
        grid-gap: 0;
        grid-template-columns: 20% 80%;
        grid-auto-rows: auto minmax(75vh,auto) auto;
        grid-template-areas:
        "header main"
        "navigation main"
        "footer footer";
        main{
            @include reset;
            grid-area: main;
        }
    }
    
}