@mixin reset{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    position: relative;
}

body, div#app{
    @include reset;
    width: 100%;
    div#wrapper{
        @include reset;
        width: 100%;
        display: grid;
        grid-gap: 0;
        grid-template-columns: 25% 75%;
        grid-auto-rows: auto minmax(50vh,auto) auto;
        grid-template-areas:
        "header main"
        "navigation main"
        "footer footer";
        main{
            @include reset;
            grid-area: main;
            padding: 1%;
            background-color: rgb(255, 255, 255);
        }
    }
    
}