@mixin reset{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    background-color: transparent;
    font-size: 1vw;
    font-family: Verdana;
}