@import "../variable_mixin.scss";
footer{
    @include reset;
    grid-area: footer;
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1%;
    text-align: center;
    background: linear-gradient(rgb(58, 58, 58),rgb(19, 19, 19));
}