@import "../variable_mixin.scss";
footer{
    @include reset;
    grid-area: footer;
    color: #FFF;
    font-family: Impact;
    padding: 1%;
    text-align: center;
    background: rgb(70, 70, 70);
}