<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta charset="UTF-8">
    <meta name="keywords" content="BestPrice, comparador de preços, previsão de preços">
    <meta name="description" content="BestPrice - Selecionando os melhores preços para você">
    <meta name="author" content="Andrew K. Hanasiro">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#456">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>